@import '../main.scss';

.navbar {
  height: 4em;
  background-color: $main-color;
  box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.2);

  .googlebutton {
    position: relative;
    float: right;
    margin-right: 2em;
    top: 50%;
    transform: translateY(-50%);
  }
}
