@import 'theme.scss';

body {
  background-color: $background-color;
  font: 100% $font-stack;
  color: $primary-color;
  margin: 0;
  
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */

  transition: background-color $transition-slow;
}

.root {
  text-align: center;
}

.root .content {
  width: 90%;
  max-width: 40em;
  min-width: 22em;
  display: inline-block;
}

.pagefooter {
  text-align: left;
  padding: 4em;
  font-size: .8em;
  color: $gray-color;
}

.download {
  right: 16px;
  bottom: 32px;
  font-size: .7em;
  width: 12em;
  position: fixed;
  background-color: white;
  .button {
    height: auto;
    padding: .5em;
    padding-bottom: 1.5em;
    color: black;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.16), 0 1px 2.5px 0 rgba(0, 0, 0, 0.26);
  }

  transition: background-color $transition-fast;
}

.download:hover {
  background-color: $light-accent-color;
}

.download:active {
  background-color: $light-gray-color;
}