@import 'theme.scss';

body {
  background-color: $background-color;
  font: 100% $font-stack;
  color: $primary-color;
  margin: 0;
  
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

.root {
  overflow: hidden;
  text-align: center;
}

.root .content {
  width: 90%;
  display: inline-block;
}

.pagefooter {
  text-align: left;
  padding: 4em;
  font-size: .8em;
  color: $gray-color;
}
