@import '../main.scss';

.pagedlist {
  width: 100%;
  text-align: justify;
  background-color: #ffffff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.16), 0 1px 2.5px 0 rgba(0, 0, 0, 0.26);
  min-width: 28em;
}

.pagedlist-header,
.pagedlistitem,
.pagedlist-footer {
  position: relative;
  width: 94%;
  padding-left: 3%;
  padding-right: 3%;
  display: inline-block;
  line-height: 3em;
}

.pagedlist-headertext,
.pagedlistitem-text {
  position: relative;
  display: inline;
  vertical-align: middle;
  padding-left: 1em;
  padding-right: 1em;
}

// Header
.pagedlist-headertext,
.pagedlist-index {
  font-size: .85em;
  color: rgba(0, 0, 0, 0.54);
}

// Footer
.pagedlist-footer {
  text-align: right;
}

.pagedlist-prev,
.pagedlist-next,
.pagedlist-index {
  display: inline-block;
  margin-left: .5em;
  margin-right: .5em;
}

.pagedlist-prev,
.pagedlist-next {
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  transition: background $transition-fast;
}


.pagedlist-prev:hover,
.pagedlist-next:hover {
  background: $light-gray-color;
}

.pagedlist-prev:active,
.pagedlist-next:active {
  background: $gray-color;
}

.pagedlist-prev.disabled,
.pagedlist-next.disabled {
  background: none;
  color: $gray-color;
}

// PagedlistItem
.pagedlistitem,
.pagedlist-footer {
  border-top: solid 1px #e0e0e0;
}

.pagedlistitem:hover {
  background: $light-accent-color;
  transition: background $transition-fast;
}

.pagedlistitem-text {
  font-size: .85em;
}

.pagedlistitem-info {
  max-height: 0;
  overflow: hidden;
  text-align: center;
  line-height: 0em;
  button {
    height: auto;
    width: 10em;
  }
  transition: max-height $transition-slow;
}

.pagedlistitem-info.expanded {
  max-height: 500px;
  transition: max-height $transition-slow;
}

.pagedlistitem-print {
  height: auto;
  text-align: center;
  line-height: 1em;
  margin-bottom: 1em;
  padding-bottom: 1em;
  transition: background $transition-fast;
}

.pagedlistitem-print:hover {
  background: $light-gray-color;
}

.pagedlistitem-print:active {
  background: $gray-color;
}

// Adddoor button
.adddoor-container {
  position: fixed;
  display: table-cell;
  right: 4em;
  bottom: 4em;
  z-index: 10;
  text-align: center;
  
  width: 4em;
  height: 4em;
}

.adddoor {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  width: 100%;
  height: 100%;
  background-color: #e91f63;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  svg {
    width: 100%;
    height: 100%;
    line {
      stroke: white;
    }
  }
  transition: background-color $transition-fast, width $transition-fast, height $transition-fast;
}

.adddoor:hover {
  background-color: #d90f53;
}

.adddoor:active {
  background-color: #a90033;
  width: 90%;
  height: 90%;
}

.pagedlistitem-delete {
  float: right;
}

.pagedlist-header .pagedlistitem-delete {
  visibility: none;
}
