@import '../main.scss';

.pagedlist {
  width: 100%;
  text-align: justify;
  background-color: #ffffff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.16), 0 1px 2.5px 0 rgba(0, 0, 0, 0.26);
}

.pagedlist-header,
.pagedlistitem,
.pagedlist-footer {
  position: relative;
  width: 94%;
  padding-left: 3%;
  padding-right: 3%;
  display: inline-block;
  line-height: 3em;
}

.pagedlist-headertext,
.pagedlistitem-text {
  position: relative;
  display: inline;
  vertical-align: middle;
  padding-left: 1em;
  padding-right: 1em;
}

// Header
.pagedlist-headertext,
.pagedlist-index {
  font-size: .85em;
  color: rgba(0, 0, 0, 0.54);
}

// Footer
.pagedlist-footer {
  text-align: right;
}

.pagedlist-prev,
.pagedlist-next,
.pagedlist-index {
  display: inline-block;
  margin-left: .5em;
  margin-right: .5em;
}

.pagedlist-prev,
.pagedlist-next {
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  transition: background $transition-fast;
}


.pagedlist-prev:hover,
.pagedlist-next:hover {
  background: $light-gray-color;
}

.pagedlist-prev:active,
.pagedlist-next:active {
  background: $gray-color;
}

.pagedlist-prev.disabled,
.pagedlist-next.disabled {
  background: none;
  color: $gray-color;
}

// PagedlistItem
.pagedlistitem,
.pagedlist-footer {
  border-top: solid 1px #e0e0e0;
}

.pagedlistitem:hover {
  background: $light-accent-color;
  transition: background $transition-fast;
}

.pagedlistitem-text {
  font-size: .85em;
}

.pagedlistitem-info {
  max-height: 0;
  overflow: hidden;
  text-align: center;
  line-height: 0em;
  button {
    height: auto;
    width: 10em;
  }
  img {
    margin: .25em;
  }
  transition: max-height $transition-slow;
}

.pagedlistitem-info.expanded {
  max-height: 300px;
  transition: max-height $transition-med;
}

.pagedlistitem-print {
  height: auto;
  text-align: center;
  line-height: 1em;
  margin-bottom: 1em;
  padding-bottom: .5em;
  padding-top: .5em;
  transition: background $transition-fast;
}

.pagedlistitem-print:hover {
  background: $light-gray-color;
}

.pagedlistitem-print:active {
  background: $gray-color;
}

// Adddoor button
.doorbutton {
  margin-left: .8em;
  display: inline-block;
  float: left;
  .button {
    font-size: .9em;
    width: auto;
    padding: 0 1em;
    background-color: #e91f63;
  }

  .button:hover {
    background-color: #d90f53;
  }

  .button:active {
    background-color: #a90033;
  }
}

.pagedlistitem-delete {
  float: right;
}

.pagedlist-header .pagedlistitem-delete {
  visibility: hidden;
}

// filter
.list-filter {
  text-align: left;
  margin-right: 0;
  display: inline-block;
  margin-top: .2em;
  margin-left: .8em;
  
  .textfield {
    padding: 0;
    line-height: 2em;
    .textfield-label {
      transform: translateY(0em);
    }
    input {
      font-size: .8em;
      padding-bottom: .1em;
    }
  }
}
