@import '../main.scss';

.signin {
  display: inline-block;
  text-align: center;
  height: 50em;
  width: 20em;

  overflow: hidden;

  position: relative;

  .title {
    color: white;
  }
  .googlebutton {
    margin-top: 2em;
    display: inline-block;
    width: auto;
    text-align: center;
  }
  
  .welcomeimage {
    position: absolute;
    width: 20em;
    padding: 6em 2em;
    margin: 2em, 0em;
    transform: translateX(-50%) scale(1);
    transition: opacity $transition-slow, transform $transition-slow;
  }
  .welcomeimage.fade {
    transform: translateX(-50%) scale(.1);
    opacity: 0;
  }

  .title-img {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 22em;
    color: white;
    font-size: 1.5em;
    transition: opacity $transition-slow;
  }

  .title-img.fade {
    opacity: 0;
  }
}
